<!--======================================
        START CATEGORY AREA
======================================-->
<br>
<section class="category-area padding-bottom-90px">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section-heading">

                    <h2 class="section__title">Reccomended for you</h2>
                    <span class="section-divider"></span>
                </div>
                <!-- end section-heading -->
            </div>
            <!-- end col-lg-9 -->
            <div class="col-lg-3">
                <div class="btn-box h-100 d-flex align-items-center justify-content-end">
                    <!--       <a href="#" class="theme-btn">View All</a> -->
                </div>
                <!-- end btn-box-->
            </div>
            <!-- end col-lg-3 -->
        </div>
        <!-- end row -->
        <div class="category-wrapper margin-top-28px">
            <div class="row">
                <div class="col-lg-4 column-td-half">
                    <div class="category-item">
                        <img src="/images/img1.jpg" alt="">
                        <div class="category-content">
                            <div class="category-inner">
                                <h3 class="cat__title"><a href="#">Business Study</a></h3>
                                <p class="cat__meta">9 courses</p>
                                <a href="#" class="theme-btn">explore now</a>
                            </div>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-item -->
                </div>
                <!-- end col-lg-4 -->
                <div class="col-lg-4 column-td-half">
                    <div class="category-item">
                        <img src="/images/img2.jpg" alt="">
                        <div class="category-content">
                            <div class="category-inner">
                                <h3 class="cat__title"><a href="#">Art & Design</a></h3>
                                <p class="cat__meta">7 courses</p>
                                <a href="#" class="theme-btn">explore now</a>
                            </div>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-item -->
                </div>
                <!-- end col-lg-4 -->
                <div class="col-lg-4 column-td-half">
                    <div class="category-item">
                        <img src="/images/img3.jpg" alt="">
                        <div class="category-content">
                            <div class="category-inner">
                                <h3 class="cat__title"><a href="/pages/course-details-page">Web development</a></h3>
                                <p class="cat__meta">8 courses</p>
                                <a href="/pages/course-details-page" class="theme-btn">explore now</a>
                            </div>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-item -->
                </div>
                <!-- end col-lg-4 -->
                <div class="col-lg-4 column-td-half">
                    <div class="category-item">
                        <img src="/images/img4.jpg" alt="">
                        <div class="category-content">
                            <div class="category-inner">
                                <h3 class="cat__title"><a href="/courses/category/fitness">health & fitness</a></h3>
                                <p class="cat__meta">6 courses</p>
                                <a href="#" class="theme-btn">explore now</a>
                            </div>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-item -->
                </div>
                <!-- end col-lg-4 -->
                <div class="col-lg-4 column-td-half">
                    <div class="category-item">
                        <img src="/images/img5.jpg" alt="">
                        <div class="category-content">
                            <div class="category-inner">
                                <h3 class="cat__title"><a href="#">photography</a></h3>
                                <p class="cat__meta">7 courses</p>
                                <a href="#" class="theme-btn">explore now</a>
                            </div>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-item -->
                </div>
                <!-- end col-lg-4 -->
                <div class="col-lg-4 column-td-half">
                    <div class="category-item">
                        <img src="/images/img6.jpg" alt="">
                        <div class="category-content">
                            <div class="category-inner">
                                <h3 class="cat__title"><a href="#">Mathematics</a></h3>
                                <p class="cat__meta">8 courses</p>
                                <a href="#" class="theme-btn">explore now</a>
                            </div>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-item -->
                </div>
                <!-- end col-lg-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end category-wrapper -->
    </div>
    <!-- end container -->
</section>
<!-- end category-area -->
<!--======================================
    END CATEGORY AREA
======================================-->

<!--======================================
    START COURSE AREA
======================================-->
<section class="course-area padding-top-120px">
    <div class="course-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h5 class="section__meta">Learn on your schedule</h5>
                        <h2 class="section__title">Friends Videos</h2>
                        <span class="section-divider"></span>
                    </div>
                    <!-- end section-heading -->
                </div>
                <!-- end col-lg-12 -->
            </div>
            <!-- end row -->
            <div class="row margin-top-28px">
                <div class="col-lg-12">
                    <div class="tab-content">
                        <div class="course-carousel owl-dot-and-nav">
                            <div class="card-item card-preview" data-tooltip-content="#tooltip_content_1">
                                <div class="preview-course-video">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target=".preview-modal-form">
                                        <img src="/images/preview-img.jpg" alt="course-img">
                                        <div class="play-button">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                                y="0px" viewBox="-307.4 338.8 91.8 91.8"
                                                style=" enable-background:new -307.4 338.8 91.8 91.8;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .st0 {
                                                        opacity: 0.6;
                                                        fill: #000000;
                                                        border-radius: 100px;
                                                        enable-background: new;
                                                    }

                                                    .st1 {
                                                        fill: #FFFFFF;
                                                    }
                                                </style>
                                                <g>
                                                    <circle class="st0" cx="-261.5" cy="384.7" r="45.9" />
                                                    <path class="st1"
                                                        d="M-272.9,363.2l35.8,20.7c0.7,0.4,0.7,1.3,0,1.7l-35.8,20.7c-0.7,0.4-1.5-0.1-1.5-0.9V364C-274.4,363.3-273.5,362.8-272.9,363.2z" />
                                                </g>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <!-- end card-content -->
                            </div>
                            <!-- end card-item -->
                            <div class="card-item card-preview" data-tooltip-content="#tooltip_content_2">
                                <div class="preview-course-video">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target=".preview-modal-form">
                                        <img src="/images/preview-img.jpg" alt="course-img">
                                        <div class="play-button">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                                y="0px" viewBox="-307.4 338.8 91.8 91.8"
                                                style=" enable-background:new -307.4 338.8 91.8 91.8;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .st0 {
                                                        opacity: 0.6;
                                                        fill: #000000;
                                                        border-radius: 100px;
                                                        enable-background: new;
                                                    }

                                                    .st1 {
                                                        fill: #FFFFFF;
                                                    }
                                                </style>
                                                <g>
                                                    <circle class="st0" cx="-261.5" cy="384.7" r="45.9" />
                                                    <path class="st1"
                                                        d="M-272.9,363.2l35.8,20.7c0.7,0.4,0.7,1.3,0,1.7l-35.8,20.7c-0.7,0.4-1.5-0.1-1.5-0.9V364C-274.4,363.3-273.5,362.8-272.9,363.2z" />
                                                </g>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <!-- end card-content -->
                            </div>
                            <!-- end card-item -->
                            <div class="card-item card-preview" data-tooltip-content="#tooltip_content_3">
                                <div class="preview-course-video">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target=".preview-modal-form">
                                        <img src="/images/preview-img.jpg" alt="course-img">
                                        <div class="play-button">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                                y="0px" viewBox="-307.4 338.8 91.8 91.8"
                                                style=" enable-background:new -307.4 338.8 91.8 91.8;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .st0 {
                                                        opacity: 0.6;
                                                        fill: #000000;
                                                        border-radius: 100px;
                                                        enable-background: new;
                                                    }

                                                    .st1 {
                                                        fill: #FFFFFF;
                                                    }
                                                </style>
                                                <g>
                                                    <circle class="st0" cx="-261.5" cy="384.7" r="45.9" />
                                                    <path class="st1"
                                                        d="M-272.9,363.2l35.8,20.7c0.7,0.4,0.7,1.3,0,1.7l-35.8,20.7c-0.7,0.4-1.5-0.1-1.5-0.9V364C-274.4,363.3-273.5,362.8-272.9,363.2z" />
                                                </g>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <!-- end card-content -->
                            </div>
                            <!-- end card-item -->
                            <div class="card-item card-preview" data-tooltip-content="#tooltip_content_4">
                                <div class="card-image">
                                    <a href="/pages/course-details-page" class="card__img"><img src="/images/img9.jpg"
                                            alt=""></a>
                                </div>
                                <!-- end card-image -->
                                <div class="card-content">
                                    <p class="card__label">
                                        <span class="card__label-text">all levels</span>
                                        <a href="#" class="card__collection-icon" data-toggle="tooltip"
                                            data-placement="top" title="Add to Wishlist"><span
                                                class="la la-heart-o"></span></a>
                                    </p>
                                    <h3 class="card__title">
                                        <a href="/pages/course-details-page">Complete Python Bootcamp: Go from zero to
                                            hero</a>
                                    </h3>
                                    <p class="card__author">
                                        <a href="/pages/teacher-details-page">noelle travesy</a>
                                    </p>
                                    <div class="rating-wrap d-flex mt-2 mb-3">
                                        <ul class="review-stars">
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star-o"></span></li>
                                        </ul>
                                        <span class="star-rating-wrap">
                                            <span class="star__rating">4.5</span>
                                            <span class="star__count">(40)</span>
                                        </span>
                                    </div>
                                    <!-- end rating-wrap -->
                                    <div class="card-action">
                                        <ul class="card-duration d-flex justify-content-between align-items-center">
                                            <li><span class="meta__date"><i class="la la-play-circle"></i> 45
                                                    Classes</span></li>
                                            <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20
                                                    min</span></li>
                                        </ul>
                                    </div>
                                    <!-- end card-action -->
                                    <div class="card-price-wrap d-flex justify-content-between align-items-center">
                                        <span class="card__price">$68.00</span>
                                        <a href="#" class="text-btn">Add to cart</a>
                                    </div>
                                    <!-- end card-price-wrap -->
                                </div>
                                <!-- end card-content -->
                            </div>
                            <!-- end card-item -->
                            <div class="card-item card-preview" data-tooltip-content="#tooltip_content_5">
                                <div class="card-image">
                                    <a href="/pages/course-details-page" class="card__img"><img src="/images/img8.jpg"
                                            alt=""></a>
                                    <div class="card-badge">
                                        <span class="badge-label">highest rated</span>
                                    </div>
                                </div>
                                <!-- end card-image -->
                                <div class="card-content">
                                    <p class="card__label">
                                        <span class="card__label-text">all levels</span>
                                        <a href="#" class="card__collection-icon" data-toggle="tooltip"
                                            data-placement="top" title="Add to Wishlist"><span
                                                class="la la-heart-o"></span></a>
                                    </p>
                                    <h3 class="card__title">
                                        <a href="/pages/course-details-page">Complete Python Bootcamp: Go from zero to
                                            hero</a>
                                    </h3>
                                    <p class="card__author">
                                        <a href="/pages/teacher-details-page">noelle travesy</a>
                                    </p>
                                    <div class="rating-wrap d-flex mt-2 mb-3">
                                        <ul class="review-stars">
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star"></span></li>
                                            <li><span class="la la-star-o"></span></li>
                                        </ul>
                                        <span class="star-rating-wrap">
                                            <span class="star__rating">4.5</span>
                                            <span class="star__count">(40)</span>
                                        </span>
                                    </div>
                                    <!-- end rating-wrap -->
                                    <div class="card-action">
                                        <ul class="card-duration d-flex justify-content-between align-items-center">
                                            <li><span class="meta__date"><i class="la la-play-circle"></i> 45
                                                    Classes</span></li>
                                            <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20
                                                    min</span></li>
                                        </ul>
                                    </div>
                                    <!-- end card-action -->
                                    <div class="card-price-wrap d-flex justify-content-between align-items-center">
                                        <span class="card__price">$68.00</span>
                                        <a href="#" class="text-btn">Add to cart</a>
                                    </div>
                                    <!-- end card-price-wrap -->
                                </div>
                                <!-- end card-content -->
                            </div>
                            <!-- end card-item -->
                        </div>
                        <!-- end course-carousel -->
                    </div>
                    <!-- end tab-content -->
                </div>
                <!-- end col-lg-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end course-wrapper -->
</section>
<!-- end courses-area -->
<!--======================================
    END COURSE AREA
======================================-->

<!-- start scroll top -->
<div id="scroll-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<div class="tooltip_templates">
    <div id="tooltip_content_1">
        <div class="card-item">
            <div class="card-content">
                <p class="card__author">
                    By <a href="/pages/teacher-details-page">alex smith</a>
                </p>
                <h3 class="card__title">
                    <a href="/pages/course-details-page">WordPress for Beginners – Master WordPress</a>
                </h3>
                <p class="card__label">
                    <span class="card__label-text mr-1">BESTSELLER</span>
                    <span class="mr-1">in</span><a href="#" class="mr-1">WordPress</a> <span>| Development</span>
                </p>
                <div class="rating-wrap d-flex mt-2 mb-3">
                    <ul class="review-stars">
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star-o"></span></li>
                    </ul>
                    <span class="star-rating-wrap">
                        <span class="star__rating">4.4</span>
                        <span class="star__count">(20)</span>
                    </span>
                </div>
                <!-- end rating-wrap -->
                <div class="card-para mb-3">
                    <p class="font-size-14 line-height-24">
                        Learn WordPress like a Professional! Start from the basics and go all the way to creating your
                        own applications and website!
                    </p>
                </div>
                <ul class="list-items mb-3 font-size-14">
                    <li>There are many variations of passages</li>
                    <li>Lorem Ipsum available</li>
                    <li>Suffered alteration in some form</li>
                </ul>
                <div class="card-action">
                    <ul class="card-duration d-flex justify-content-between align-items-center">
                        <li><span class="meta__date"><i class="la la-play-circle"></i> 45 Classes</span></li>
                        <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20 min</span></li>
                    </ul>
                </div>
                <!-- end card-action -->
                <div class="btn-box w-100 text-center mb-3">
                    <a href="/pages/course-details-page" class="theme-btn d-block">Preview this course</a>
                </div>
                <div class="card-price-wrap d-flex justify-content-between align-items-center">
                    <span class="card__price">$58.00</span>
                    <a href="#" class="text-btn">Add to cart</a>
                </div>
                <!-- end card-price-wrap -->
            </div>
            <!-- end card-content -->
        </div>
        <!-- end card-item -->
    </div>
</div>
<!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_2">
        <div class="card-item">
            <div class="card-content">
                <p class="card__author">
                    By <a href="/pages/teacher-details-page">brad travesy</a>
                </p>
                <h3 class="card__title">
                    <a href="/pages/course-details-page">Learn Ethical Hacking from Scratch Your Stepping</a>
                </h3>
                <p class="card__label">
                    <span class="card__label-text mr-1">BESTSELLER</span>
                    <span class="mr-1">in</span><a href="#" class="mr-1">Hacking</a> <span>| Development</span>
                </p>
                <div class="rating-wrap d-flex mt-2 mb-3">
                    <ul class="review-stars">
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star-o"></span></li>
                    </ul>
                    <span class="star-rating-wrap">
                        <span class="star__rating">4.4</span>
                        <span class="star__count">(20)</span>
                    </span>
                </div>
                <!-- end rating-wrap -->
                <div class="card-para mb-3">
                    <p class="font-size-14 line-height-24">
                        Learn WordPress like a Professional! Start from the basics and go all the way to creating your
                        own applications and website!
                    </p>
                </div>
                <ul class="list-items mb-3 font-size-14">
                    <li>There are many variations of passages</li>
                    <li>Lorem Ipsum available</li>
                    <li>Suffered alteration in some form</li>
                </ul>
                <div class="card-action">
                    <ul class="card-duration d-flex justify-content-between align-items-center">
                        <li><span class="meta__date"><i class="la la-play-circle"></i> 45 Classes</span></li>
                        <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20 min</span></li>
                    </ul>
                </div>
                <!-- end card-action -->
                <div class="btn-box w-100 text-center mb-3">
                    <a href="/pages/course-details-page" class="theme-btn d-block">Preview this course</a>
                </div>
                <div class="card-price-wrap d-flex justify-content-between align-items-center">
                    <span class="card__price">Free</span>
                    <a href="#" class="text-btn">get enrolled</a>
                </div>
                <!-- end card-price-wrap -->
            </div>
            <!-- end card-content -->
        </div>
        <!-- end card-item -->
    </div>
</div>
<!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_3">
        <div class="card-item">
            <div class="card-content">
                <p class="card__author">
                    By <a href="/pages/teacher-details-page">mark hardson</a>
                </p>
                <h3 class="card__title">
                    <a href="/pages/course-details-page">Microsoft SQL Server 2019 for Everyone</a>
                </h3>
                <p class="card__label">
                    <span class="card__label-text mr-1">BESTSELLER</span>
                    <span class="mr-1">in</span><a href="#" class="mr-1">SQL</a> <span>| Development</span>
                </p>
                <div class="rating-wrap d-flex mt-2 mb-3">
                    <ul class="review-stars">
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star-o"></span></li>
                    </ul>
                    <span class="star-rating-wrap">
                        <span class="star__rating">4.4</span>
                        <span class="star__count">(20)</span>
                    </span>
                </div>
                <!-- end rating-wrap -->
                <div class="card-para mb-3">
                    <p class="font-size-14 line-height-24">
                        Learn WordPress like a Professional! Start from the basics and go all the way to creating your
                        own applications and website!
                    </p>
                </div>
                <ul class="list-items mb-3 font-size-14">
                    <li>There are many variations of passages</li>
                    <li>Lorem Ipsum available</li>
                    <li>Suffered alteration in some form</li>
                </ul>
                <div class="card-action">
                    <ul class="card-duration d-flex justify-content-between align-items-center">
                        <li><span class="meta__date"><i class="la la-play-circle"></i> 45 Classes</span></li>
                        <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20 min</span></li>
                    </ul>
                </div>
                <!-- end card-action -->
                <div class="btn-box w-100 text-center mb-3">
                    <a href="/pages/course-details-page" class="theme-btn d-block">Preview this course</a>
                </div>
                <div class="card-price-wrap d-flex justify-content-between align-items-center">
                    <span class="card__price">$68.00</span>
                    <a href="#" class="text-btn">add to cart</a>
                </div>
                <!-- end card-price-wrap -->
            </div>
            <!-- end card-content -->
        </div>
        <!-- end card-item -->
    </div>
</div>
<!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_4">
        <div class="card-item">
            <div class="card-content">
                <p class="card__author">
                    By <a href="/pages/teacher-details-page">Kamran Paul</a>
                </p>
                <h3 class="card__title">
                    <a href="/pages/course-details-page">User Experience Design - Adobe XD UI UX Design</a>
                </h3>
                <p class="card__label">
                    <span class="card__label-text mr-1">BESTSELLER</span>
                    <span class="mr-1">in</span><a href="#" class="mr-1">Design</a> <span>| Development</span>
                </p>
                <div class="rating-wrap d-flex mt-2 mb-3">
                    <ul class="review-stars">
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star-o"></span></li>
                    </ul>
                    <span class="star-rating-wrap">
                        <span class="star__rating">4.4</span>
                        <span class="star__count">(20)</span>
                    </span>
                </div>
                <!-- end rating-wrap -->
                <div class="card-para mb-3">
                    <p class="font-size-14 line-height-24">
                        Learn WordPress like a Professional! Start from the basics and go all the way to creating your
                        own applications and website!
                    </p>
                </div>
                <ul class="list-items mb-3 font-size-14">
                    <li>There are many variations of passages</li>
                    <li>Lorem Ipsum available</li>
                    <li>Suffered alteration in some form</li>
                </ul>
                <div class="card-action">
                    <ul class="card-duration d-flex justify-content-between align-items-center">
                        <li><span class="meta__date"><i class="la la-play-circle"></i> 45 Classes</span></li>
                        <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20 min</span></li>
                    </ul>
                </div>
                <!-- end card-action -->
                <div class="btn-box w-100 text-center mb-3">
                    <a href="/pages/course-details-page" class="theme-btn d-block">Preview this course</a>
                </div>
                <div class="card-price-wrap d-flex justify-content-between align-items-center">
                    <span class="card__price">Free</span>
                    <a href="#" class="text-btn">Get Enrolled</a>
                </div>
                <!-- end card-price-wrap -->
            </div>
            <!-- end card-content -->
        </div>
        <!-- end card-item -->
    </div>
</div>
<!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_5">
        <div class="card-item">
            <div class="card-content">
                <p class="card__author">
                    By <a href="/pages/teacher-details-page">Jose Purtila</a>
                </p>
                <h3 class="card__title">
                    <a href="/pages/course-details-page">The Complete Digital finance Marketing Course</a>
                </h3>
                <p class="card__label">
                    <span class="card__label-text mr-1">BESTSELLER</span>
                    <span class="mr-1">in</span><a href="#" class="mr-1">Marketing</a> <span>| Development</span>
                </p>
                <div class="rating-wrap d-flex mt-2 mb-3">
                    <ul class="review-stars">
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star-o"></span></li>
                    </ul>
                    <span class="star-rating-wrap">
                        <span class="star__rating">4.4</span>
                        <span class="star__count">(20)</span>
                    </span>
                </div>
                <!-- end rating-wrap -->
                <div class="card-para mb-3">
                    <p class="font-size-14 line-height-24">
                        Learn WordPress like a Professional! Start from the basics and go all the way to creating your
                        own applications and website!
                    </p>
                </div>
                <ul class="list-items mb-3 font-size-14">
                    <li>There are many variations of passages</li>
                    <li>Lorem Ipsum available</li>
                    <li>Suffered alteration in some form</li>
                </ul>
                <div class="card-action">
                    <ul class="card-duration d-flex justify-content-between align-items-center">
                        <li><span class="meta__date"><i class="la la-play-circle"></i> 45 Classes</span></li>
                        <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20 min</span></li>
                    </ul>
                </div>
                <!-- end card-action -->
                <div class="btn-box w-100 text-center mb-3">
                    <a href="/pages/course-details-page" class="theme-btn d-block">Preview this course</a>
                </div>
                <div class="card-price-wrap d-flex justify-content-between align-items-center">
                    <span class="card__price"><span class="before-price">$189.00</span> $119.00</span>
                    <a href="#" class="text-btn">Add to cart</a>
                </div>
                <!-- end card-price-wrap -->
            </div>
            <!-- end card-content -->
        </div>
        <!-- end card-item -->
    </div>
</div>
<!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_6">
        <div class="card-item">
            <div class="card-content">
                <p class="card__author">
                    By <a href="/pages/teacher-detail-page">Noelle Travesy</a>
                </p>
                <h3 class="card__title">
                    <a href="/pages/course-details-page">Complete Python Bootcamp: Go from zero to hero</a>
                </h3>
                <p class="card__label">
                    <span class="card__label-text mr-1">BESTSELLER</span>
                    <span class="mr-1">in</span><a href="#" class="mr-1">Python</a> <span>| Development</span>
                </p>
                <div class="rating-wrap d-flex mt-2 mb-3">
                    <ul class="review-stars">
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star"></span></li>
                        <li><span class="la la-star-o"></span></li>
                    </ul>
                    <span class="star-rating-wrap">
                        <span class="star__rating">4.4</span>
                        <span class="star__count">(20)</span>
                    </span>
                </div>
                <!-- end rating-wrap -->
                <div class="card-para mb-3">
                    <p class="font-size-14 line-height-24">
                        Learn WordPress like a Professional! Start from the basics and go all the way to creating your
                        own applications and website!
                    </p>
                </div>
                <ul class="list-items mb-3 font-size-14">
                    <li>There are many variations of passages</li>
                    <li>Lorem Ipsum available</li>
                    <li>Suffered alteration in some form</li>
                </ul>
                <div class="card-action">
                    <ul class="card-duration d-flex justify-content-between align-items-center">
                        <li><span class="meta__date"><i class="la la-play-circle"></i> 45 Classes</span></li>
                        <li><span class="meta__date"><i class="la la-clock-o"></i> 3 hours 20 min</span></li>
                    </ul>
                </div>
                <!-- end card-action -->
                <div class="btn-box w-100 text-center mb-3">
                    <a href="/course-details-page" class="theme-btn d-block">Preview this course</a>
                </div>
                <div class="card-price-wrap d-flex justify-content-between align-items-center">
                    <span class="card__price">$68.00</span>
                    <a href="#" class="text-btn">add to cart</a>
                </div>
                <!-- end card-price-wrap -->
            </div>
            <!-- end card-content -->
        </div>
        <!-- end card-item -->
    </div>
</div>
<!-- end tooltip_templates -->